# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Environment
.env
venv/
.Python
.env.*

# Git
.git
.gitignore

# Docker
Dockerfile
docker-compose.yml
.docker

# Distribution / packaging
dist/
build/
*.egg-info/

# Logs
*.log

# Unit test / coverage reports
htmlcov/
.coverage
.tox/

# IDE
.idea/
.vscode/

# OS
.DS_Store
Thumbs.db

# Documentation
docs/
*.md
