# Python
__pycache__/
*.py[cod]
*.pyo

# Environment
.env
venv/

# Byte-compiled / optimized / DLL files
*.pyc
*.pyo
*.pyd

# Distribution / packaging
.Python
dist/
build/
*.egg-info/

# Logs
*.log

# Unit test / coverage reports
htmlcov/
.coverage
.tox/

# Jupyter Notebook
.ipynb_checkpoints

# PyCharm
.idea/

# VS Code
.vscode/

# macOS
.DS_Store

# Windows
Thumbs.db
